#addArtist {
  background-color: #EEE;
}

#addAlbum {
  background-color: #EEE;
}

#addTracks{
  background-color: #EEE;
}

section {
  padding: 2em;
}

* {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-weight: 500;
}
